Repository amethyst/theta-wave, pull requests merged in 2021-05, with the labels that each got.

#146 Add and implement "Modifiers"
  src/components/consumable.rs
  src/components/item.rs
  src/components/mod.rs
  src/components/player.rs
  src/components/tags.rs
  src/constants/mod.rs
  src/data_include/data/consumable_modifiers.ron
  src/data_include/data/consumables.ron
  src/data_include/data/defense.ron
  src/data_include/data/item_modifiers.ron
  src/data_include/data/items.ron
  src/data_include/data/mod.rs
  src/data_include/data/players.ron
  src/entities/defense.rs
  src/entities/mod.rs
  src/events/events.rs
  src/events/mod.rs
  src/main.rs
  src/resources/defense.rs
  src/resources/mod.rs
  src/resources/modifiers.rs
  src/states/main_game.rs
  src/systems/defense.rs
  src/systems/mod.rs
  src/systems/modifiers.rs
  src/systems/spaceship.rs
  src/systems/spaceship_collisions.rs
  src/systems/status_bar.rs
Labels: in-progress, item, refactoring

#149 Add attractors and tractor beam item
  assets/texture/items_spritesheet.png
  assets/texture/items_spritesheet.ron
  book/src/assets/tractor_beam_portrait.png
  book/src/items.md
  src/components/attraction.rs
  src/components/mod.rs
  src/components/motion2d.rs
  src/data_include/config/debug_lines_config.ron
  src/data_include/data/consumables.ron
  src/data_include/data/item_modifiers.ron
  src/data_include/data/items.ron
  src/data_include/data/store.ron
  src/entities/mod.rs
  src/entities/spaceship.rs
  src/events/events.rs
  src/events/mod.rs
  src/resources/mod.rs
  src/resources/modifiers.rs
  src/states/main_game.rs
  src/systems/attraction.rs
  src/systems/mod.rs
  src/systems/modifiers.rs
  src/systems/motion2d.rs
Labels: enhancement, item

#152 Add a repel item for enemy blasts
  assets/texture/items_spritesheet.png
  assets/texture/items_spritesheet.ron
  src/components/attraction.rs
  src/components/motion2d.rs
  src/data_include/config/debug_lines_config.ron
  src/data_include/data/item_modifiers.ron
  src/data_include/data/items.ron
  src/data_include/data/store.ron
  src/entities/mod.rs
  src/entities/spaceship.rs
  src/resources/mod.rs
  src/resources/modifiers.rs
  src/states/main_game.rs
  src/systems/attraction.rs
  src/systems/mod.rs
  src/systems/modifiers.rs
  src/systems/motion2d.rs
Labels: item

#156 Fix Phase bug, and minor refactor of `SpawnableCategory`
  src/components/attraction.rs
  src/components/mod.rs
  src/entities/mod.rs
  src/entities/spaceship.rs
  src/events/events.rs
  src/resources/phases.rs
  src/systems/attraction.rs
  src/systems/modifiers.rs
  src/systems/motion2d.rs
  src/systems/spawner.rs
Labels: bug, refactoring
